<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="richa.osahub.com.vaccikaranapp" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <permission
        android:name="com.arshad.map.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <!-- Permission to receive Google Maps -->
    <uses-permission android:name="com.arshad.map.permission.MAPS_RECEIVE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key"/>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".VacciKaran"
            android:label="@string/app_name"
            android:parentActivityName=".VacciKaranActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="richa.osahub.com.vaccikaranapp.VacciKaranActivity" />



        </activity>
        <activity
            android:name=".VacciLocatorActivity"
            android:label="@string/title_activity_vacci_locator"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="richa.osahub.com.vaccikaranapp.HomeActivity" />


            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Register"
            android:label="Register"
            android:parentActivityName=".VacciKaran" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="richa.osahub.com.vaccikaranapp.VacciKaran" />

        </activity>
        <activity
            android:name=".VacciWall"
            android:label="VacciWall"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="richa.osahub.com.vaccikaranapp.HomeActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="richa.osahub.com.vaccikaranapp.HomeActivity" />

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".VacciForumActivity"
            android:label="@string/title_activity_vacci_forum"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="richa.osahub.com.vaccikaranapp.HomeActivity" />
        </activity>
        <activity
            android:name=".VacciKaranActivity"
            android:label="@string/title_activity_vacci_karan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
